<nav class="navbar navbar-expand-lg navbar-light nav-fill bg-dark py-3">
    <div class="container-fluid col-lg-10 mx-auto">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end text-warning" id="navbarSupportedContent">
            <div class="navbar-nav">
                <a class="navbar-brand"></a>
                <ul class="navbar-nav mr-auto mx-2">
                    <li class="nav-item active mx-lg-4">
                        <a class="nav-link text-warning" href="{{ path('project_') }}">Projets</a>
                    </li>
                    <li class="nav-item active mx-lg-4">
                        <a class="nav-link text-warning border border-2 border-warning rounded" href="{{ path('contact') }}">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="text-center py-2 bg-dark">
            <a class="" href="{{ path('home') }}"><img src="{{ asset('build/images/memoji_1.png') }}" height="110px" alt="logo Karine Challier développeur site internet"></a>
            <p class="text-warning fs-1">Karine CHALLIER</p>
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star" aria-hidden="true"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <p class="text-warning fs-5"><img src="{{ asset('build/images/fusee.png') }}" height="25px" alt="développeur web freelance application site internet" class="mx-2">Développeuse web fullstack</p>
        </div>
    </div>
</div>
