{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Mes projets{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center my-3">
        <h1 class="col-10 col-sm-6 justify-content-center my-3 text-dark border-bottom border-dark text-center p-2 m-3">Mes projets</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4 px-3 m-4">
        {% for project in projects %}

            <div class="col">
                <div class="card h-100">
                    <img src="{{asset (vich_uploader_asset(project)) }}" class="card-img-top" alt="{{ project.title }}">
                    <div class="card-body">
                        <h2 class="card-title">{{ project.title }}</h2>
                        <p class="card-text">{{ project.description }}</p>
                            {% for tag in project.tags %}
                                <p class="card-text">{{ tag.name }} </p>
                            {% endfor %}
                        <a href="{{asset (vich_uploader_asset(project)) }}" class="btn btn-outline-dark"><i class="fas fa-eye doc-show"></i></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
